<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Flight Schedules</h4>
        <div>
          <button style="margin: 1rem; margin-left:0" class=" btn btn-primary" (click)="switchTab('search')">Search Flights</button>
          <button style="margin: 1rem;" class="btn btn-primary" (click)="switchTab('viewSeats')">View Seats</button>
          <button style="margin: 1rem;" class="btn btn-primary" (click)="switchTab('makeReservation')">Make Reservation</button>
          <button style="margin: 1rem;" class="btn btn-primary" (click)="switchTab('issueTicket')">Issue Ticket</button>
          <button style="margin: 1rem;" class="btn btn-primary" (click)="switchTab('handleRefund')">Handle Refund</button>
          <button style="margin: 1rem;" class="btn btn-primary" (click)="switchTab('manageBookings')">Manage Bookings</button>
        </div>
        <div *ngIf="currentTab === 'search'">
          <app-search-flights></app-search-flights>
        </div>
        <div *ngIf="currentTab === 'viewSeats'">
          <app-view-seats></app-view-seats>
        </div>
        <div *ngIf="currentTab === 'makeReservation'">
          <app-make-reservation></app-make-reservation>
        </div>
        <div *ngIf="currentTab === 'issueTicket'">
          <app-issue-ticket></app-issue-ticket>
        </div>
        <div *ngIf="currentTab === 'handleRefund'">
          <app-handle-refund></app-handle-refund>
        </div>
        <div *ngIf="currentTab === 'manageBookings'">
          <app-manage-bookings></app-manage-bookings>
        </div>
        <table style="margin-top: 1rem;" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Flight Number</th>
              <th scope="col">Route</th>
              <th scope="col">Departure Time</th>
              <th scope="col">Arrival Time</th>
              <th scope="col">Aircraft</th>
            </tr>
          </thead>
          <tbody>
            <tr style="border-top-width: 1px;">
              <td>FLT001</td>
              <td>New York to Los Angeles</td>
              <td>2023-12-01 08:00 AM</td>
              <td>2023-12-01 11:00 AM</td>
              <td>Boeing 737</td>
              <td>
                <button class=" btn btn-primary" (click)="openFlightModal('FLT001')">View Details</button>
              </td>
            </tr>
            <tr>
              <td>FLT002</td>
              <td>New York to Los Angeles</td>
              <td>2023-12-01 11:00 AM</td>
              <td>2023-12-01 02:00 PM</td>
              <td>Boeing 737</td>
              <td>
                <button class=" btn btn-primary" (click)="openFlightModal('FLT002')">View Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  