<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Logistics & Statistics</h4>
  
        <div class="chart-container">
          <div class="chart">
            <div [chart]="financialReportChart" class="mdb-chart"></div>
          </div>
          <div class="chart">
            <div [chart]="passengerStatisticsChart" class="mdb-chart"></div>
          </div>
          <div class="chart">
            <div [chart]="operationalPerformanceChart" class="mdb-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>