<div class="container mt-4">
  <ng-container *ngIf="authService.isAuthenticated()">
    <ng-container *ngIf="authService.isLoggedIn$ | async as isLoggedIn">
      <ng-container *ngIf="isLoggedIn; else loadingSection">
        <ng-container *ngIf="authService.isPassenger(); else adminTerminalSection">
          <h2>Welcome {{ authService.getLoggedInUser()?.username }}</h2>
        </ng-container>
        <ng-template #adminTerminalSection>
          <h2>Admin Dashboard</h2>
          <button id="createUserButton" type="button" class="btn btn-success" (click)="navigateToCreateUser()">
            <i class="bi bi-plus"></i> Create User
          </button>
          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="editUser(user.id)">
                    <i class="bi bi-pencil"></i> Edit
                  </button>
                  <button
                  style="margin-left: 1rem;"
                  type="button"
                  class="btn btn-danger"
                  (click)="openModal(user.id)"
                >
                  <i class="bi bi-trash"></i> Delete
                </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #loadingSection>
    <h2>Loading...</h2>
  </ng-template>
</div>