<app-loader [loading]="loading"></app-loader>
<div style="display: flex;  margin-top: 5%; gap: 1rem;">
  <div style="flex: 1;">
  <div style=" margin-left: 1rem;" class="container d-flex justify-content-start align-items-start">
    <div style="max-width: 450px" class="card">
      <img *ngIf="userProfile?.profilePicture; else defaultPicture" [src]="'http://localhost:3000/' + userProfile.profilePicture" alt="Profile Picture" />
      <ng-template #defaultPicture>
        <img src="../../assets/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" alt="Default Profile Picture" />
      </ng-template>

      <div class="card-body">
        <h2 class="card-title">User Profile</h2>

        <div *ngIf="(user$ | async) as user">
          <div>
            <p class="card-text"><strong>Username:</strong> {{ user.username }}</p>
            <p class="card-text"><strong>Full Name:</strong> {{ userProfile?.fullName }}</p>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            <p class="card-text"><strong>Passport Number:</strong>{{ userProfile?.passportNumber }}</p>
            <p class="card-text"><strong>Address:</strong> {{ userProfile?.address}}</p>
            <p class="card-text"><strong>Phone Number:</strong>{{ userProfile?.phoneNumber }}</p>
          </div>
          <button class="btn" [class.btn-primary]="!isEditing" [class.btn-success]="isEditing" style="margin-top: 1rem;" (click)="isEditing ? saveChanges() : enableEdit()">
            {{ isEditing ? 'Save Changes' : 'Edit Profile' }}
          </button>
    </div>
  </div>
</div>
<div style="flex: 1;">
  <div style="max-width: 450px; margin-left: 5rem; margin-top: 1rem;" class="container d-flex justify-content-start align-items-start">
    <form [formGroup]="profileForm" style="width: 100%;">
      <div class="form-group">
        <label for="editUsername">Username:</label>
        <input type="text" id="editUsername" formControlName="username" class="form-control" placeholder="Username" style="width: 100%;" />
      </div>
      <div class="form-group">
        <label for="editFullName">Full Name:</label>
        <input type="text" id="editFullName" formControlName="fullName" class="form-control" placeholder="Full Name" style="width: 100%;" />
      </div>
      <div class="form-group">
        <label for="editEmail">Email:</label>
        <input type="email" id="editEmail" formControlName="email" class="form-control" placeholder="Email" style="width: 100%;" />
      </div>
      <div class="form-group">
        <label for="editPassport">Passport Number:</label>
        <input type="text" id="editPassport" formControlName="passportNumber" class="form-control" placeholder="Passport Number" style="width: 100%;" />
      </div>
      <div class="form-group">
        <label for="editAddress">Address:</label>
        <input type="text" id="editAddress" formControlName="address" class="form-control" placeholder="Address" style="width: 100%;" />
      </div>
      <div class="form-group">
        <label for="editPhone">Phone Number:</label>
        <input type="tel" id="editPhone" formControlName="phoneNumber" class="form-control" placeholder="Phone Number" style="width: 100%;" />
      </div>
      <div class="form-group" *ngIf="isEditing">
        <label for="editProfilePicture">Profile Picture:</label>
        <input type="file" id="editProfilePicture" formControlName="profilePicture" class="form-control" (change)="onFileSelected($event)" />
      </div>
    </form>

  </div>
</div>
</div>
